@page "/"

<PageTitle>💰 FinanceApp 💰</PageTitle>

<MudText Typo="Typo.h3">💰 FinanceApp 💰</MudText>

<div>
    <MudText Typo="Typo.subtitle1">FinanceApp é uma aplicação de gestão financeira pessoal que utiliza uma arquitetura
        modular
        dividida em três camadas: API, Core e WEB. A aplicação é desenvolvida utilizando ASP.NET,
        Minimal APIs, PWA, Blazor Wasm, Entity Framework e MudBlazor.</MudText>
</div>